@page "/"
@page "/Login"
@inject AuthenticationStateProvider asp
@inject Settings settings
@inject ApiService ApiService

<PageTitle>Login - ProjectName</PageTitle>

<style>
    .login {        
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 1rem;        
        box-shadow: 0 0 4px 4px #0001;
        background-color:var(--primary-bg);
        position:relative;
        overflow:hidden;
    }
    .logo {
        position: absolute;
        right:1rem;
        top: 1rem;
    }
</style>

<div class="safe-height" style="display:grid;place-items:center;margin-top:-2rem">
    <div class="login">
        <img width="80" height="80" class="logo" src="192x192.png" alt="ProjectName" />
        <div class="flex-col g4 mb1">
            <h3>Login</h3>
            <p class="muted">Enter your valid credentials.</p>
        </div>
        <div class="flex-col w100">
            <CascadingValue Value="@errors" IsFixed>

                <Input Label="Username" Class="mandatory" Focus @bind-Value="@model.Username"
                        Error="@(nameof(model.Username))" />

                <Input Label="Password" Type="password" Class="mandatory" @bind-Value="@model.Password"
                    Error="@(nameof(model.Password))"/>

                <Checkbox Label="Remember me" Checked="@model.RememberMe" OnClick="x => model.RememberMe = x" />

            </CascadingValue>
        </div>
        <p class="error">@errorMessage</p>
        <div class="flex g8 mtb1 jcsb">
            <Button Text="Login" OnClick="HandleLogin" />
            <div class="flex g8 aic">
                <Button Text="Student" Type="ButtonType.Secondary" OnClick="@(() => browserExtensions.Goto("/Students"))" />
                <Button Text="Employee" Type="ButtonType.Secondary" OnClick="@(() => browserExtensions.Goto("/Employees"))" />
            </div>
        </div>
        <p>Don't have account? <a href="Register">Register here</a></p>
        <p><a href="@settings.ApiUrl">Activate API</a></p>
    </div>
</div>

@code
{
    private LoginRequestDto model = new();
    private Dictionary<string, string>? errors;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {        
        model.Username = await browserExtensions.GetFromLocalStorage("user");
    }

    private async Task HandleLogin()
    {
        errorMessage = null;

        errors = model.Errors();
        if (!model.IsValid) return;

        await browserExtensions.RemoveFromLocalStorage("user");
        var response = await ApiService.Post<LoginRequestDto, UserAuthentication>("/api/v1/Auth/login", model);
        if (response.IsSuccess)
        {            
            if (model.RememberMe && model.Username is not null)
                await browserExtensions.SetToLocalStorage("user", model.Username);
            await ((ApplicationStateProvider)asp).Login(response.Value!);
            browserExtensions.Goto("Home", true, true);
        }
        else
        {
            errorMessage = response.StatusCode switch
            {
                System.Net.HttpStatusCode.Forbidden => "Your account is locked. Contact admin.",
                _ => "Invalid email and/or password.",
            };
        }
    }
}