@inherits BaseAdd<Add, UserDto>
@attribute [Authorize(Roles = "admin")]

<Sheet Show="@Show" OnClose="HandleClose" Width="400px">
    <div class="flex-col jcsb h100">

        <h4>Add @Title</h4>

        <CascadingValue Value="Errors" IsFixed>
            <div class="flex-col f1" style="margin-inline: -1.5rem; padding: 1.5rem; overflow: auto">
                <Grid Class="aifs" MinColWidth="150px">
                    <Input Id="focusElement" Focus Label="Username" TItem="string" Class="mandatory" @bind-Value="@Model!.Username" Error="@nameof(Model.Username)" />
                    <Input Label="Password" Type="password" TItem="string" Class="mandatory" @bind-Value="@Model!.Password" Error="@nameof(Model.Password)" />
                    <Input Label="Fullname" TItem="string" ContainerStyle="grid-column:span 2" Class="mandatory" @bind-Value="@Model!.Fullname" Error="@nameof(Model.Fullname)" />
                    <Input Label="Email" Class="mandatory" ContainerStyle="grid-column:span 2" TItem="string" @bind-Value="@Model!.Email" Error="@nameof(Model.Email)" />
                    <Input Label="Roles" Class="mandatory" ContainerStyle="grid-column:span 2" TItem="string" @bind-Value="@Model!.Roles" Error="@nameof(Model.Roles)"
                        Info="Can be multiple separated by comma. eg: admin,manager,user" />
                    <Group Label="Is Locked">
                        <Switch Checked="@Model.IsLocked" OnClick="x => Model.IsLocked = x" />
                    </Group>
                </Grid>
            </div>
        </CascadingValue>
        <div class="flex-col">
            <BusyAnimation Show="@IsBusy" />
            <div class="flex g8 jce aic">
                <Button AccessKey="a" Text="Add" OnClick="HandleAdd" Disabled="@IsBusy" />
                <Button AccessKey="c" Text="Cancel" Type="ButtonType.Ghost" OnClick="HandleClose" Disabled="@IsBusy" />
            </div>
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <Toast Show Style="right:unset;left:1rem;min-width:345px;background-color:red; color:white">
            <span>@ErrorMessage</span>
        </Toast>
    }
</Sheet>

@code
{
    protected override void OnInitialized()
    {
        Title = "User";
    }

    protected override async Task HandleAdd()
    {
        if (Model is null) return;
        ErrorMessage = null;
        Errors = Model.Errors();
        if (!Model.IsValid) return;

        IsBusy = true;
        var apiResult = await ApiService.Post<UserDto>(Endpoints.Create, Model);        
        if (apiResult.IsSuccess)
        {
            if (!RefreshRequired) RefreshRequired = true;
            Model = new();
            await browserExtensions.SetFocus("#focusElement");
        }
        else
        {
            ErrorMessage = apiResult.Message;
        }

        IsBusy = false;
        if (!string.IsNullOrWhiteSpace(ErrorMessage))
        {
            await InvokeAsync(async () =>
            {
                StateHasChanged();
                await Task.Delay(ApiService.TOAST_SHOW_SECONDS).ContinueWith(_ => ErrorMessage = null);
            });
        }
    }
}